* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #067cf1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 5% ;
    

}

.left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
}

.logo {
    width: 150px;
    margin-right: 45px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}

#mySearch {
    border-radius: 25px;
    padding: 2px;
    border: 0;
    outline: none;
}

/*#profile-pic{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}*/

.icons{
    color: white;
    margin-left: 15px;
    cursor: pointer;
    width: 50px;
    
}

.search-bar {
    margin-right: 15px;
    width: 100%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 60px;
    height: 25px;
}

.search-bar input {
    background-color: white;
    flex: 1;
    border: 0;
    outline: none;
    color: #cac7ff;
}

.search-bar button img {
    width: 15px;
    color: black;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    background: white;
    width: 25px;
    height: 25px;
    color: black;
}


::placeholder(){
    color: black;
}


.post-area {
    margin: 10px auto;
    border: 2px solid #067cf1;
    width: 500px;
    border-radius: 10px;
    padding: 10px;

}

.main-header {
    display: flex;
    align-items: center;
    font-size: .6rem;
}

.main-profile {
    width: 45px;
    border-radius: 50%;
}

.header-photo {
    margin-right: 5px;
}

.post-text:focus {
    border: o solid;
    background-color: transparent;
    outline: none;

}

input:focus {
    outline:none;
}
